.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
	border-bottom: 2px solid #CCC;
	min-height: em(100px);
	padding: em(10px) em(10px) 0; 
	background-color: #FFF;
}

@media screen and (max-width:1000px) {
	.header {
		padding: em(10px) em(8px) 0;
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */
