.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
	border-bottom: 2px solid #CCC;
	padding: em(10px) em(10px) 0; 
	background-color: #FFF;
}

.logo {
	display: inline-block;
	width: em(28px);
	vertical-align: top;
}

.nameLogo {
	display: inline-block;
	margin: em(5px) 0 em(10px) em(10px);
	width: 250px;
	font-size: em(24px);
	color: $smoothColor;
	@include transition(all, 0.3s, ease-in-out);
}

.navbar {

}

.navbar ul {
	
}

.navbar ul li {
	
}

.navbar ul li a {
	
}

@media screen and (min-width:630px) {
	.nameLogo {
		font-size: em(28px);
	}
}

@media screen and (min-width:800px) {
	.logo {
		width: em(43px);
		@include transition(all, 0.3s, ease-in-out)
	}
}

@media screen and (max-width:1000px) {
	.header {
		padding: em(10px) em(8px) 0;
	}
}

/* ==========================================================================
   Main
   ========================================================================== */

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: em(10px);
}


/* ==========================================================================
   Footer
   ========================================================================== */
