/* ==========================================================================
   Titles
   ========================================================================== */

.title--big {
	margin: em(30px) auto;
	width: 100%;
	max-width: 1000px;
	color: #666;
	text-align: center;
}

/* ==========================================================================
   Images
   ========================================================================== */

.image__container {
	margin: em(30px) auto;
	width: 100%;
	background-color: #3BC492;
}

.image__post {
	margin: 0 auto;
	max-width: 1000px;
	padding: em(10px);
	text-align: center;
}

.image__post img {
	margin: em(30px) 0;
	@include transition(all, 0.3s, ease-in);
}

.image__descr {
	font-size: em(12px);
	@include font-anonymous;
	margin-bottom: 20px;
}

@media screen and (max-width: 630px) {
	.image__post img {
		width: 100%;
	}
}