.avatar {
	margin: 0 auto;
	width: 140px;
	height: 140px;
}

.avatar__image {
	width: 100%;
}


.header-about {
	margin-bottom: em(40px);
	border-bottom: 1px solid #CCC;
	padding-top: em(10px);
	padding-bottom: em(10px);
	text-align: center;
}

.header-about__title {
	color: #333;
	font-size: em(38px);
	font-weight: $bold;
	letter-spacing: -1px;
}

@media screen and (min-width: 500px) {
	.avatar {
		width: 160px;
		height: 160px;
	}	
	.header-about__title {
		font-size: em(50px);
	}
	.header-about {
		margin-bottom: em(80px);
		padding-top: em(50px);
		padding-bottom: em(30px);
	}
}

p {
	margin-bottom: 35px;
	line-height: 26px;
	font-size: 17px;
	color: #626262
}

a {
	color: #4CABDB;
	text-decoration: none;
}
