<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | Juliane Albuquerque</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include metatags.html %}
    {% include stylesheets.html %}
    {% include fontes.html %}

    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Juliane Albuquerque">
    
    <link rel="icon" href="{{ site.baseurl}}/favicon.png">
    <link rel="shortcut icon" href="{{ site.baseurl}}/favicon-shortcut.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl}}/favicon.png">

  </head>
  <body>
    
    {% include header.html %}

    <main class="main" role="main">
      {{ content }}
    </main>

    <footer class="footer"></footer>

    {% include javascripts.html %}

    {% include analytics.html %}

  </body>
</html>
