/*
 Colors
*/
$bodyColor: #333;
$smoothColor: #CCC;
$highSmoothColor: #999;

/*
 Padrão de fontes
*/
$fontSizeMini: em(13px);
$fontSizeSmall: em(16px);
$fontSizeMedium: em(19px);
$fontSizeLarge: em(24px);
$fontSizeXLarge: em(32px);