/*
 Colors
*/
$bkfLightColor: #75C5F0;
$bkfNormalColor: #0093DD;
$bkfDarkColor: #1F487C;
$bkfDarkestColor: #143156;

$bodyColor: #333;
$smoothColor: #666;
$highSmoothColor: #999;

/*
 Spacing between boxes
*/
$verticalSpacing: 40px;

/*
 Padrão de fontes
*/
$fontSizeMini: em(13px);
$fontSizeSmall: em(16px);
$fontSizeMedium: em(19px);
$fontSizeLarge: em(24px);
$fontSizeXLarge: em(32px);